@tailwind base;
@tailwind components;
@tailwind utilities;

/* html {
  @apply bg-orange;
} */

.max-w-1030 {
  max-width: 1030px;
}

.font-readex-pro {
  font-family: 'Readex Pro', sans-serif;
}

.elipsis-1-lines-text {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.elipsis-2-lines-text {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
