@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-orange;
  font-family: 'Readex Pro', sans-serif;
}

.max-w-1030 {
  max-width: 1030px;
}

.elipsis-1-lines-text {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.elipsis-2-lines-text {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.negative-landing-margin {
  margin-top: -126px;
}

.orange-list li::marker {
  color: #f80;
}
